<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Students</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code </th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="programId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ProgramId </th>
          <td mat-cell *matCellDef="let element"> {{element.programId}} </td>
        </ng-container>

        <ng-container matColumnDef="payments">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="studentPayments(element)">Payments</button>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons>
      </mat-paginator>

    </mat-card-content>

  </mat-card>
</div>

